.ddcolortabs{                 /* define the default state */
padding: 0;
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
text-align:center;
}

.ddcolortabs ul{
font: normal 9px Verdana, Arial, sans-serif;
font-weight:normal;
margin:0;
padding:0;
list-style:none;
text-align:center;
}

.ddcolortabs li{
display:inline;
margin:0 2px 0 0;
padding:0;
text-align:center;
vertical-align:middle;
}


.ddcolortabs a{
/*float:left;*/            /* in demo original these tabs were at left */
float:right;
color:#DFEFFF;
background: #54709B url(../images/color_tabs_left.gif) no-repeat left top; 
margin:0 2px 0 0;
/* margins:top right bottom left*/
padding:0 0 1px 3px;
text-decoration:none;
letter-spacing: 0px;
text-align:center;
}

.ddcolortabs a span{
/*float:left;*/           /* in demo original these tabs were at left */
float:right;
display:block;
background: transparent url(../images/color_tabs_right.gif) no-repeat right top; 
padding: 2px 4px 2px 3px;
text-align:center;
}

.ddcolortabs a span{
float:none;
text-align:center;
}

.ddcolortabs a:hover{               /*  define hovering tab left edge and corner */
background-color: #00173C;
color:white;
font-weight:normal;
}

.ddcolortabs a:hover span{       /*  define hovering tab body and right corner */
background-color: #00173C;
}

.ddcolortabs a.current, #ddcolortabs a.current span{ /* define currently selected page's tab */
background-color: #002255;
font-weight:bold;
color:white;
}

.ddcolortabsline{
clear: both;
padding: 0;
width: 100%;
height: 12px;
line-height: 12px;
background: #7089B3;
/*border-top: 1px solid #fff; /*Remove this to remove border between bar and tabs in demo original*/
}

.tabcontainer{
/*clear: left;           /* in demo original these tabs were at left */
*/clear: right;
width:95%; /*width of 2nd level sub menus*/
height:1.5em; /*height of 2nd level sub menus. Set to largest's sub menu's height to avoid jittering.*/
}

.tabcontent{
display:none;
}
