/************************************************************************
* TEMPLATE CSS
*
* This style sheet contains those styles used by/in the generation
* of the mgi site-wide templates
*
************************************************************************/

/*************************************************************************
* Miscellaneous styles for the template
*************************************************************************/

a.logoFooter{
    text-decoration:none;
}

.searchToolButton 
    {font-size:10px;
    font-family:Arial,Helvetica;
    color:#002255;
    font-weight:bolder;
}

/*************************************************************************
*  Title Bar - Page Title appearing within the body of a page
*************************************************************************/

#titleBarWrapper {
    font-family: Arial,Helvetica;
    vertical-align: middle;
    color: #000001;
    text-align: center;
    background-color: #FFFFFF;
}

#titleBarWrapper img {
    border:none;
}

.titleBarMainTitle {
    font-size: 22px;
    font-weight: bold;

}

.titleBarSubTitle {
    font-size: 14px;
}

a.titleBarHelpIcon{
    border:none;
    float:left;
}

/*************************************************************************
*  MENUBAR - Navagation menu droplist styling
*************************************************************************/

/* Block-level <div> wrapping the menubar */
.menubarWrapper {
    background:#002255; 
    width:100%;
    margin: 0px;
    font-family:Verdana,Arial,Helvetica;
    font-size:12px;
}

/* 
 * "Tier 1" items -- Effects ALL <ul>, <li>, <a> tags in menubar
 */
menulist, .menulist  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.menulist li {
    float: left;
    display: block;
    position: relative;
    background: #002255;
    margin-right: -1px;
    font-weight:bold;
    font-size:11px;
}
.menulist a {
    display: block;
    padding: 3px;
    color: #DDD;
    text-decoration: none;
}

/* 
 * Tier 2 (first vertical drop list)
 */
.menulist ul {
    display: none;
    position: absolute;
    top: 1.0em; 
    margin-top: 13px; 
    left: -1px;
    width: 200px;
}
.menulist ul li {
    float: none;
    margin: 0;
    margin-bottom: -1px;
    background: #CAD7E5; 
    border: 1.2px solid #FFFFFF;

}
.menulist ul>li:last-child {
    margin-bottom: 2px; /* Mozilla fix */
}
.menulist ul li a{
    display: block;
    padding: 3px;
    color: #002255;
}

/* 
 * Tier 3 cascading
 */

.menulist ul ul {
 top: -1px; margin-top: 0;
 left: 190px;
}

/* 
 * Special handling 
 */
.menulist a:hover, .menulist a.highlighted:hover, .menulist a:focus {
    color: #002255;
    background: #DDD;
}
.menulist a.highlighted {
 color: #002255;
 background-color: #DDD; 
}
.menulist a .subind {
 display: none;
}
.menulist ul a .subind {
 display: block;
 float: right;
}

/*
 * HACKS - Taming the different browsers...
 */
.menulist a {
 float: left;
}
.menulist ul a {
 float: none;
}
.menulist a {
 float: none;
}
*:first-child+html .menulist ul li {
 float: left;
 width: 100%;
}
* html .menulist ul li {
 float: left;
 height: 1%;
}
* html .menulist ul a {
 height: 1%;
}


/*************************************************************************
*  Mini-home page tabs
*************************************************************************/

.ddcolortabs{ /* default state */
padding: 0;
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
text-align:center;
}

.ddcolortabs ul{
font: normal 9px Verdana, Arial, sans-serif;
font-weight:normal;
margin:0;
padding:0;
list-style:none;
text-align:center;
}

.ddcolortabs li{
display:inline;
margin:0 2px 0 0;
padding:0;
text-align:center;
vertical-align:middle;
}


.ddcolortabs a{
float:right;
color:#DFEFFF;
background: #54709B url(../images/color_tabs_left.gif) no-repeat left top; 
margin:0 2px 0 0;
padding:0 0 1px 3px;
text-decoration:none;
letter-spacing: 0px;
text-align:center;
}

.ddcolortabs a span{
float:right;
display:block;
background: transparent url(../images/color_tabs_right.gif) no-repeat right top; 
padding: 2px 4px 2px 3px;
text-align:center;
}

.ddcolortabs a span{
float:none;
text-align:center;
}

.ddcolortabs a:hover{     
background-color: #00173C;
color:white;
font-weight:normal;
}

.ddcolortabs a:hover span{
background-color: #00173C;
}

.ddcolortabs a.current, #ddcolortabs a.current span{ 
background-color: #002255;
font-weight:bold;
color:white;
}

.ddcolortabsline{
clear: both;
padding: 0;
width: 100%;
height: 12px;
line-height: 12px;
background: #7089B3;
}

.tabcontainer{
clear: right;
width:95%; 
height:1.5em; 
}

.tabcontent{
display:none;
}
